header, footer {
    padding: 1em; 
    color: white;
    background-color: rgb(65, 33, 164);
    clear: left;
}
header {
    height: 5em;
    text-align: center;    
    text-shadow: 2px 2px yellowgreen;
}

footer {    
    bottom: 0;
    width:100%;
}

h1.header {
    padding: 0;
    margin: 0;
}
div#user {
    float: right;
}
aside {
    float: left;
    width: 185px;
    margin: 0;
    padding: 1em;    
    
}
section {
    margin-left: 190px;
    border-left: 1px solid yellow;
    padding: 1em;
    color:rgb(65, 44, 144);
}
ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
    background-color:whitesmoke;
}        
a {
    float:left;
    width:10em;
    text-decoration:none; 
    color:black;
    background-color:blanchedalmond;
    padding:0.2em 0.6em;
    border-right:1px solid black;
}
a.selected{
    background-color: salmon;
}
a:hover { background-color:salmon} 
li { display:inline } 

table {
    border-collapse: collapse;
}
th, td {
    padding: 10px 50px 10px 5px;
    text-align: left;
    font-family: sans-serif;
    font-size: x-small;
}
th {
    color: blue;
    background-color: salmon;
    border-top: 3px solid aquamarine;
}
td {
    color: blue;
    background-color:beige;
    border-top: 3px solid #FFFFFF;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input {
    padding: 5px 2px;
    margin: 10px 5px;
}
